<%- include('includes/head', { pageTitle: 'An error occurred' }) %>
  </head>
  <body>
    <%- include('includes/navbar') %>
    <main class="container">
      <h1><%= message %></h1>
      <p>Unfortunately, we could not find the requested resource.</p>
      <p><a href="/campgrounds" class="btn btn-secondary">Back to safety!</a></p>
    </main>
<%- include('includes/footer') %>
