<template id="review-template">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <h6 class="card-sub-title"></h6>
      <p class="card-text"></p>
      <button class="btn btn-sm btn-danger">Delete</button>
    </div>
  </div>
</template>
