<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Rating: <%= review.rating %></h5>
    <p class="card-text">Review: <%= review.body %></p>
    <button
      class="btn btn-sm btn-danger"
      data-id="<%= review._id %>">
      Delete
    </button>
  </div>
</div>
