<form
  id="review-form" class="needs-validation mb-3"
  data-campgroundid="<%= campground._id %>" novalidate>
  <div class="mb-3">
    <%- include('starability-basic') %>
  </div>
  <div class="mb-3">
    <label class="form-label" for="text">Review</label>
    <textarea
      class="form-control" id="text"
      rows="3" name="review[text]" required
    ></textarea>
  </div>
  <button class="btn btn-success">Submit</button>
</form>
