<%- include('../shared/includes/head', { pageTitle: 'All Campgrounds' }) %>
  </head>
  <body>
    <%- include('../shared/includes/navbar') %>
    <main class="container">
      <h1>All Campgrounds...</h1>
      <div>
        <a href="/campgrounds/new">Add campground</a>
      </div>
      <ul>
        <% for(let campground of campgrounds) { %>
          <%- include ('includes/campground-item', { campground }) %>
        <% } %>
      </ul>
    </main>
<%- include('../shared/includes/footer') %>
