<%- include('../shared/includes/head', { pageTitle: 'Create Campground' }) %>
  </head>
  <body>
    <%- include('../shared/includes/navbar') %>
    <main class="container">
      <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
          <%- include('includes/campground-form') %>
        </div>
      </div>
      <a href="/campgrounds">All Campgrounds</a>
    </main>
<%- include('../shared/includes/footer') %>
