<%- include('../shared/includes/head', { pageTitle: 'Update Campground' }) %>
  </head>
  <body>
    <%- include('../shared/includes/navbar') %>
    <main class="container">
      <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
          <%- include('includes/campground-form' , {
            campground,
            submitUrl: '/campgrounds/' + campground._id + '?_method=PUT'}) %>
        </div>
      </div>
      <a href="/campgrounds">All Campgrounds</a>
    </main>
<%- include('../shared/includes/footer') %>